
.btn1{
    background-color: #0e0d13;
    position: absolute;
    width: 4.5%;
    height: 20px;
    top: 90px;
    left: 75%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.btn2{
    background-color: #0e0d13;
    position: absolute;
    width: 5.2%;
    height: 20px;
    top: 90px;
    left: 80.5%;
    color: white;
}
.btn3{
    background-color: #0e0d13;
    position: absolute;
    width: 3.5%;
    height: 20px;
    top: 90px;
    left: 85.7%;
    color: white;
}
.btn4{
    background-color: #0e0d13;
    position: absolute;
    width: 6%;
    height: 20px;
    top: 90px;
    left: 89.2%;
    color: white;
}