*{
    background-color: #0e131b;
}
header{
    height: 80px;
    top: 0%;
    background-color: #272b32;
    color: white;
    border: #272b32;

}
#titulo{
    color: white;
    background-color: #272b32;
}


#divisores{
    width: 20px;
}
